<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <title>Home Page</title>
  </head>
  <body>
    <a href='/home'>Home</a>
    <a href='/login'>Log In</a>
    <a href='/logout'>Log Out</a>
    <a href='/register'>Register</a>
    <form method="get" action="/view">
  <header>
    <h1>You Should See Your Flipcards</h1>
  </header>
<ul>
  {{#data}}
  <li>
    <div class="flipcards">
      {{deck}}{{flipcard}}
    </div>
    <form class="edit" method="post" action="/edit/{{id}}"><button type="submit">Edit</button>
    </form>
    <form class="delete" method="post" action="/delete/{{id}}/delete"><button type="submit">Delete</button>
    </form>

  </li>
  {{/data}}
</ul>
</form>

  </body>
</html>
