<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <title>Login</title>
  </head>
  <body>
    <nav>
      <a href='/home'>Home</a>
      <a href='/login'>Log In</a>
      <a href='/logout'>Log Out</a>
      <a href='/register'>Register</a>
    </nav>
    <form action="/home" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" value="username">
      <label for="password">Password</label>
      <input type="password" name="password" value="password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
